html.native-android,
html.native-android body {
    overscroll-behavior-y: none;
}

html.native-android .app-pages {
    overscroll-behavior-y: contain;
}

html.native-android {
    -webkit-tap-highlight-color: transparent;
}
